body {
    font-family: "Lato", sans-serif;
}
.brand {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 2em;
}

.main-head{
    height: 150px;
    background: #FFF;
   
}

.sidenav {
    height: 100%;
    overflow-x: hidden;
    padding-top: 20px;
}

.logo {
    width: 90%;
    text-align: left;
}


.logo-title {
    font-size: 2.2em;
    color: #000000;
    font-weight: bolder;
    letter-spacing: 2.5px;
    ;
}

.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 40%;
        height: 100%;
        position: fixed;
        overflow: hidden;
        padding-top: 20px;;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 30%;
    }

    .register-form{
        margin-top: 20%;
    }
}

.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #010203 ;
    color: #fff;
}

.btn-black:hover{
	background-color: #800000;
	color: #fff;
	 }

#logintype{
	margin-top: 30px;
}

.landing-image{ 
    width: 100%;
    margin: -20px -5px 0 5px;
    height: 100%;
}