<div class="container h-100">
   <div class="sidenav">
       <img class="landing-image " [src]="imagePath[0]" />"
 </div>
 <div class="main">
    <div class="col-md-6 col-sm-12">
     <div class="brand">
        <div><img class="logo" [src]="imagePath[1]" /></div>
        <div class="logo-title">LogIn</div>
      </div>
     
       <div class="login-form"> 

          <form action=" " method="post" >

          
         

             <div class="form-group">
                <label>Enter Phone Number</label>
                
                <input type="text" class="form-control" [(ngModel)]="phone" name="phone" pattern="[0-9]{10}" title="Enter 10 digit mobile number" placeholder="Enter Phone Number" required>
             </div>
             <div class="form-group">
                <label>Enter Password</label>
                <input type="password" class="form-control" name="password" [(ngModel)]="password" placeholder="Enter Password" required>
             </div>
             

             <br>
             <button type="submit"  (click)=checkLogin() class="btn btn-black">Login</button> <!--(click)=checkLogin()-->
             <br>

             <p><br>New to MOW ?  <br>
              Create an account   <a href="#signUp"  class="btn btn-black">  Sign Me Up </a> </p>     

          </form>
       </div>
    </div>
 </div>
</div>