<!-- cart-->
<app-nav></app-nav>
<br>
<br>
<section id="cart" class="parallax-section">

    <div *ngIf="cartList==null" >
        
        <h4>Your Cart is empty!</h4>        
        <button type="button" class="btn btn-light" >'Add Items' | translate</button>
    </div>
	<div >

	    <table class="table table-striped table-dark">
                
            <tbody >
              <tr *ngFor="let cartItem of cartList|async">
                <!--<td><img [src]="imagePath" alt="itemImage"></td>-->
                <td><p class="item-name" text-wrap>{{cartItem.food.foodName}}</p></td>
                <td>
                    <input type="number" min="1" max="10" (change)="changeQuantity(cartItem)" [(ngModel)]="cartItem.quantity">
                </td>
                <td>
                    <p class="item-detail">Price:
                    <span class="item-price">
                        <strong class="cut"><span>&#8377;</span> {{ cartItem.price | number:'.2-2'}}</strong>
                    </span>
                    </p>
                </td>
                
                <td>
                    <button  type="button" class="btn btn-light" (click)="deleteCartItem(cartItem.id)" >Delete</button>
                </td>
              </tr>
            </tbody>
            <tr></tr>
            <tr class="price-details">
                <td class="calculate" col-12>
                    <div class="cart-total">
                        <strong>Order Total</strong>
                        <span class="price"><span>&#8377;</span> {{total | number:'.2-2'}}</span>
                    </div>
                </td>
                <td >
                    <button  type="button" class="btn btn-light" > Checkout</button>

                </td>
            </tr>
        </table>
    </div>
</section>

<app-footer></app-footer>

