.image{
    background-image: url('D:\angular\OnlineFood\angularMeal\src\assets\images\back1.jpg');
background-repeat:no-repeat;
background-size: 100% 100%;
height: auto;
padding-bottom: 5%; 
}

table.center{
    text-align: left;
    margin-right: auto;
    margin-left: auto;
    align-content: center;
}
b{
text-align: center;
}

h2{
    font-size: 40px;
    text-align: center;

}

  .btn-black{
    background-color: #010203 ;
    color: #fff;
}

.btn-black:hover{
	background-color: #800000;
	color: #fff;
	 }
  